################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/mseg-carpool/FileContentIndex/3fc54540-d7f8-46b6-8cfc-00877f6a4cf4.vsidx
/.vs/mseg-carpool/FileContentIndex/8982d238-0632-4ea4-9711-90ece9354a16.vsidx
/.vs/mseg-carpool/FileContentIndex/be803986-2e0f-4710-a6ac-923e5693284f.vsidx
/.vs/mseg-carpool/FileContentIndex/9c2e3efb-4b67-4af7-95eb-a4d1467a2a4b.vsidx
/.vs/mseg-carpool/FileContentIndex/f2e5e50b-097d-4e30-9211-5c3e1c9a28e2.vsidx
/.vs/mseg-carpool/FileContentIndex/e995ba1b-8fbd-4b6d-934e-1bbe4ceab0e9.vsidx
/.vs/mseg-carpool/FileContentIndex/731b75a5-2d22-4c6e-b9ec-5395d13a4844.vsidx
*.vsidx
node_modules
