table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.button-class {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

    .button-class:focus {
        outline: none;
    }

.count {
    font-weight: bold;
    color: black;
}

.passenger-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.status-box {
    display: inline-block;
    background-color: lightgrey;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

    .status.pending {
        background-color: #FFB900;
        color: white;
    }

    .status.approved {
        background-color: #7FBA00;
        color: white;
    }

/* Styling for input boxes in editing mode */
input[type="text"].editing {
    border: 2px solid #00A4EF; /* Border color when in editing mode */
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

    input[type="text"].editing:focus {
        outline: none; /* Remove default focus outline */
        box-shadow: 0 0 5px #00A4EF; /* Add a subtle box shadow when in focus */
    }

    input[type="text"].editing::placeholder {
        color: #999; /* Placeholder text color */
    }

    input[type="text"].editing:hover {
        background-color: #f5f5f5; /* Background color when hovering over the input box */
    }

/* Styling for save and cancel buttons */
.button-class.save-btn, .button-class.cancel-btn {
    background-color: #00A4EF; /* Background color for save and cancel buttons */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

    .button-class.save-btn:hover, .button-class.cancel-btn:hover {
        background-color: whitesmoke; /* Background color when hovering over save and cancel buttons */
    }

.button-class.map-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #00A4EF;
}

    .button-class.map-btn:hover {
        color: #0078D4; /* Darker shade of blue */
    }

.info-btn {
    margin-left: 10px;
}

.driver-info .card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}